.datepicker-main {
  width: 252px;
}
.datepicker-nav {
  .prev,
  .next,
  .date-title {
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
    > * {
      vertical-align: middle;
    }
    svg {
      width: 16px;
    }
  }
  .date-title {
    display: inline-block;
    width: 180px;
    text-align: center;
    font-weight: bold;
  }
  .prev {
    svg {
      transform: rotate(180deg);
    }
  }
}
.datepicker-dayweekname {
  display: block;
  font-weight: bold;
}
.days-block {
  display: block;
}
.outside {
  color: #eee;
}
.day {
  display: inline-block;
  margin: 2px;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;

  &.current-day {
    color: #db3d44;
  }
}
.month,
.year {
  display: inline-block;
  width: 63px;
  height: 63px;
  text-align: center;
  line-height: 63px;
}

.clickable {
  cursor: pointer;
  transition: .2s ease;
  border-radius: 50%;
  user-select: none;

  &:hover {
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,.1);
    color: #db3d44;
  }

  &.date-title {
    box-shadow: none;
    color: inherit;
    border-radius: 0;
    &:hover {
      background: #eee;
    }
  }

  &.selected {
    background: #db3d44;
    color: white;
  }
}